name: Bandit analysis

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/**'
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - 'main'
      - 'release/v*'
    paths:
      - 'src/**'
  schedule:
    - cron: '0 4 * * 1-5'
  workflow_dispatch:

jobs:
  analysis:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python "3.11"
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Intall bandit
      run: pip install bandit[toml]
    - name: Run bandit
      run: bandit -r src -c pyproject.toml -o bandit_outputs.txt -f txt

